In [1]:
#Import the Library

In [2]:
import pandas as pd

In [3]:
data=pd.read_csv('insurance_pre.csv')

In [4]:
data

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [5]:
# Convert Categorical data to Numerical Data
# It's a Nominal Data-One Hand Encoding

In [6]:
data=pd.get_dummies(data,drop_first=True)
data

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [7]:
print(data.columns)

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [8]:
#Independent Variable Input

In [9]:
independent=data[['age','sex_male','bmi','children','smoker_yes']]
independent

      age  sex_male     bmi  children  smoker_yes
0      19         0  27.900         0           1
1      18         1  33.770         1           0
2      28         1  33.000         3           0
3      33         1  22.705         0           0
4      32         1  28.880         0           0
...   ...       ...     ...       ...         ...
1333   50         1  30.970         3           0
1334   18         0  31.920         0           0
1335   18         0  36.850         0           0
1336   21         0  25.800         0           0
1337   61         0  29.070         0           1

[1338 rows x 5 columns]

In [10]:
#Dependent Variable Output

In [11]:
dependent=data[["charges"]]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [12]:
#Split Train Test/Set

In [13]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [145]:
from sklearn.ensemble import RandomForestRegressor
regressor=RandomForestRegressor(n_estimators=999, max_features="log2")
regressor=regressor.fit(X_train,y_train)

C:\anaconda\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

In [146]:
#Evaluation Parameter - r2

In [147]:
y_pred=regressor.predict(X_test)

In [148]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

In [149]:
r_score

0.87334375634748

In [150]:
#Save the Model

In [151]:
import pickle
filename="finalized_model_Random_Forest.sav"

In [152]:
pickle.dump(regressor,open(filename,'wb'))

In [153]:
#Load the Model

In [154]:
loaded_model=pickle.load(open("finalized_model_Random_Forest.sav",'rb'))
result=loaded_model.predict([[2312,5634,29856,2,4]])
result

C:\anaconda\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  "X does not have valid feature names, but"

array([48418.33426811])

In [155]:
#First Phase Finished Model Created